<html>
<head>
	<title>全てのユーザー</title>
</head>
<body>
<table border="1">
	<thead>
		<th>メール</th>
		<th>ユーザー名</th>
		<th>パスワード</th>
		<th>イメージ</th>
	</thead>
	<tbody>
<% @users.each_with_index do |user, i| %>
	<tr>
		<td><%= user.mail %></td>
		<td><%= user.user_name %></td>
		<td><%= user.pass %></td>
		<td><%= user.user_images %></td>
	</tr>
<% end %>

	</tbody>
</table>
<a href="/top">トップ</a><br>
<a href="/event/new">新規登録</a>
</body>
</html>