<html>
<head>
	<title>イベント一覧</title>
</head>
<body>
<table border="1">
	<thead>
		<th>イベント名</th>
		<th>日時</th>
		<th>コメント</th>
		<th>登録日</th>
	</thead>
	<tbody>
<% @tags.each_with_index do |tag, i| %>
	<tr>
		<td><%= tag.name %></td>
		<td><%= tag.user_id %></td>
	</tr>
<% end %>

	</tbody>
</table>
<a href="/top">トップ</a><br>
<a href="/event/new">新規登録</a>
</body>
</html>