<html>
<head>
	<title>イベント登録</title>
</head>
<body>
<form method="post" action="/event">
イベント名: <input type="text" name="name"><br>
日時: <input type="text" name="start_date"> 〜 <input type="text" name="end_date"><br>
場所: <input type="text" name="location"><br>
コメント: <input type="text" name="comment"><br>
<input type="submit" name="submit" value="登録">
</form>
</body>
</html>